POSTGRES_DB=smartspend
POSTGRES_USER=smartspend
POSTGRES_PASSWORD=smart_passwd

# DATABASE_URL генерируется в docker-compose.yml
#DATABASE_URL=postgresql+asyncpg://smartspend:smart_passwd@localhost:5432/smartspend
SECRET_KEY=change-me-to-random-64-char-string
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30
